build
build.clang
sdkconfig.old

.vscode
.vscode/**
.ipynb_checkpoints

**/certs/*.pem

core
secure_boot_signing_key.pem
secure_boot_signing_ec.pem
flash_encryption_key.bin
*.pem
.cache

compile_commands.json
managed_components
.vim
build.clang
