[submodule "components/utz"]
	path = components/utz
	url = https://github.com/ZaptecCharger/utz
[submodule "components/mqtt/esp-mqtt"]
	path = components/mqtt/esp-mqtt
	url = https://github.com/ZaptecCharger/esp-mqtt
[submodule "ApolloMCUApplication"]
	path = ApolloMCUApplication
	url = https://github.com/ZaptecCharger/ApolloMCUApplication
	branch = feature-ci
[submodule "GoPlusMCUApplication"]
	path = GoPlusMCUApplication
	url = https://github.com/ZaptecCharger/GoPlusMCUApplication
